html, body, #root{
  height: 100vh;
  overflow: hidden;
  
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1400px) {
    font-size: 1.2rem;
  }
}

.wrap {
  height: 100%;
  transition: .5s, height 0s;
  position: relative;
  overflow: auto;

  .navbar {
    transition-duration: .5s;
    @media (min-width: 576px) {
      margin-bottom: 10px;
    }
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media (min-width: 992px) {
      margin-bottom: 30px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1400px) {
      margin-bottom: 50px;
    }
  }
}

.wrap.theme-dark {
  background-color: #212529;
  color: #FFF;

  .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
  }

  .navbar-nav .nav-link.active {
    color: #FFF;
    font-weight: bold;
  }

  .navbar-light .navbar-brand {
    color: #FFF;
  }
}

.gsap-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 1.5rem;
  transition: height .5s, width .5s;
  display: flex;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: 992px) {
    width: 300px;
    height: 300px;
  }
  @media (min-width: 1400px) {
    width: 350px;
    height: 350px;
  }

  > img {
    height: 70%;
    width: 100%;
    border: none;
    outline: none;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  > div {
    height: 30%;
    padding: 15px;

    .title {
      font-size: 1.2em;
      margin: 0;
    }
    
    > pre {
      text-indent: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


}